<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <form @submit.prevent="submitForm()">
          <input v-model.trim="newText" type="text">
          <input type="submit"  v-bind:value="btnSubmit">
        </form>

    <ul>
        <li v-for="(item, index) in dataList">
            {{item.text}} 
            <button v-on:click="updateData(index, item.text)">Update</button>
            ||
            <button v-on:click="deleteData(index)">Remove</button>
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    
    var vm = new Vue({
    el: '#app',

    data: {
        indexEdit:0,
        btnSubmit : 'add',
        dataList: [
            {text: 'Muhammad Iqbal Mubarok' },
            {text: 'Ruby Purwanti' },
            { text: 'Faqih Muhammad' }
        ],
        newText: '',
    },
    methods : {
        submitForm : function () {
            if (this.btnSubmit == 'add') {
                if (this.newText == '') {
                    alert("data tidak boleh kosong")
                } else {
                    this.dataList.push({
                    text: this.newText
                })
                this.newText = ''
                }
            } else {
                this.dataList[this.indexEdit].text = this.newText
                this.btnSubmit = 'add'
                this.newText = ''
                this.indexEdit = 0
            }
       },
       deleteData : function (index) {
        if(confirm("Anda yakin menghapus data ini?")){
            this.dataList.splice(index, 1)
        }
       },
       updateData : function(index, text){
        this.btnSubmit = 'update'
        this.indexEdit = index
        this.newText = text
       }
      }
  })
  </script>
</body>
</html>