body {
    text-align: center;
    background-image: url('bg.jpg');

}
body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
table {
    width: 60%;
    margin-left:auto;margin-right:auto;
    background-color:#17c26d;
}