<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input placeholder="Ketikkan kata kunci" v-model="search" type="text">
    <ul>
        <li v-for="item in filteredBooks">
            {{item}} 
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    
    var vm = new Vue({
    el: '#app',
    data: {
        search: '',
        books: [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemgrograman',
        ],
        
    },
    computed : {
        filteredBooks() {
        const search = this.search.toLowerCase().trim()
        if (!search) return this.books
        return this.books.filter(c => c.toLowerCase().includes(search));
        }
    }
  })
  </script>
</body>
</html>